.CountryData {
    margin: 10px 20px;
    width: 100%;
    text-align: center;

    button {
        margin-right: 10px;
        font-size: 30px;
        width: 50px;
        user-select: none;
    }
}